<mat-toolbar
  class="flex align-items-center justify-content-between"
  color="primary"
>
  <button type="button" mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span
    style="cursor: pointer"
    *ngIf="user; else templateName"
    routerLink="my-profile"
  >
    Logged as: <b>{{ user.fullName }} </b>
  </span>
  <button (click)="authService.logOut()" color="warn" mat-flat-button>
    Logout
  </button>
  <ng-template #templateName>
    <button routerLink="/auth/login" mat-flat-button color="primary">
      Login
    </button>
  </ng-template>
</mat-toolbar>
